<div class="form">
    <div class="form-content">
    <p class="warning-message" id="flash"><%= flash.notice %></p>
        <%= form_with model:@user, url:password_reset_edit_path(token:params[:token]) do |form| %>
            <div class="main-title">
                <h2>Reset your password</h2>
            </div>
            <div class="content">
                <label for="password">Password<span class="required-sign">*</span></label>
                <%= form.password_field :password ,{ :id=>'password', :placeholder=>'password'}%>
                <% if @user.errors[:password].any? %>
                    <span class="warning-message">Password <%= @user.errors[:password][0] %>
                <% end %>
            </div>
            <div class="content">
                <label for="password_confirmation">Confirm Password<span class="required-sign">*</span></label>
                <%= form.password_field :password_confirmation ,{ :id=>'password_confirmation', :placeholder=>'confirm password'}%>
                <% if @user.errors[:password_confirmation].any? %>
                    <span class="warning-message">Password <%= @user.errors[:password_confirmation][0] %>
                <% end %>
            </div>
            <div class="button-group">
                <%= form.submit 'Reset Password' ,{:class=>'sub-btn reset-link-btn'}%>
            </div>
        <% end %>
    </div>
</div>