<div class="form">
    <div class="form-content">
    <p class="successMessage" id="flash"><%= flash.alert %></p>
    <p class="warning-message" id="flash"><%= flash.notice %></p>
        <%= form_with url:password_reset_path do |form| %>
            <div class="main-title">
                <h2>Reset Password</h2>
            </div>
            <div class="content">
                <label for="email">Email<span class="required-sign">*</span></label>
                <%= form.text_field :email ,{ :id=>'email', :placeholder=>'email'}%>
            </div>
            <div class="button-group">
                <%= link_to 'Back', login_path, { :class=>"sub-btn" } %> 
                <%= form.submit 'Send' ,{:class=>'sub-btn'}%>
            </div>
        <% end %>
    </div>
</div>