<%= render 'layouts/navbar' %>
<div class="form">
    <div class="form-content">
        <%= form_for @user, url: {action: :updatePassword} do |f| %>
            <div class="main-title">
                <h2>Edit Password</h2>
            </div>
            <p class="warning-message" id="flash"><%= flash.notice %></p>
            <%= f.hidden_field :id ,{ :id=>'id'}%>
            <div class="content">
                <label for="password">Password<span class="required-sign">*</span></label>
                <%= f.password_field :password ,{ :id=>'password', :placeholder=>'password'}%>
                <% if @user.errors[:password].any? %>
                    <span class="warning-message">Password <%= @user.errors[:password][0] %>
                <% end %>
            </div>
            <div class="content">
                <label for="password_confirmation">Confirm Password<span class="required-sign">*</span></label>
                <%= f.password_field :password_confirmation ,{ :id=>'password_confirmation', :placeholder=>'confirm password'}%>
                <% if @user.errors[:password_confirmation].any? %>
                    <span class="warning-message">Password <%= @user.errors[:password_confirmation][0] %>
                <% end %>
            </div>
            <div class="button-group">
                <%= link_to 'Back', users_profile_path(:id=>@user.id), { :class=>"sub-btn" } %> 
                <%= f.submit 'Update' ,{:class=>'sub-btn'}%>
            </div>
        <% end %>
    </div>
</div>