<%= render 'layouts/navbar' %>
<div class="form">
    <div class="form-content">
    <p class="successMessage" id="flash"><%= flash.notice %></p>
        <div class="main-title">
            <h2>All Users</h2>
        </div>
        <form action="{{ route('users.search') }}" method="GET" class="search-form">
        </form>
        <% @count = 0 %>
        <table class="user-table">
            <tr>
                <th width="5%">No.</th>
                <th width="20%">Name</th>
                <th width="20%">Email</th>
                <th width="20%">Phone</th>
                <th width="35%">Action</th>
            </tr>
            <% @count = (@page-1) * @per_page %>
            <% @users.each do |user| %>
                <tr>
                    <td><%= @count += 1 %></td>
                    <td><%= user.name%></td>
                    <td><%= user.email%></td>
                    <td><%= user.phone%></td>
                    <td>
                        <div class="btn-group">
                            <%= link_to 'Detail', users_show_path(:id=>user.id), { :class=>"sub-btn" } %>
                            <%= link_to 'Delete', users_destroy_path(:id=>user.id), { :class=>"sub-btn delete-btn", :data=>{ confirm: 'Are you sure you want to delete this user?' } } %>
                        </div>
                    </td>
                </tr>
            <% end %>
        </table>
        <div class="right-btn-group">
            <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
        </div>
        <div class="create-btn">
            <%= link_to 'Create User', users_new_path ,{ :class=>'sub-btn'}%>
        </div>
    </div>
</div>
