<%= render 'layouts/navbar' %>
<div class="form">
    <div class="form-content">
        <p class="successMessage" id="flash"><%= flash.notice %></p>
        <div class="main-title">
            <h2>User Profile</h2>
        </div>
        <div class="content">
            <label for="name">Name<span class="required-sign">*</span></label>
            <%= @user.name %> 
        </div>
        <div class="content">
            <label for="email">Email<span class="required-sign">*</span></label>
            <%= @user.email %>
        </div>
        <div class="content">
            <label for="password">Password<span class="required-sign">*</span></label>
            <%= link_to 'Edit', users_editPassword_path(:id=>@user.id),{:class=>'sub-btn'} %>
        </div>
        <div class="content">
            <label for="phone">phone<span class="required-sign">*</span></label>
            <%= @user.phone %>
        </div>
        <div class="radio-group">
            <%= "<label>Member</label>".html_safe if @user.role == 0 %>
            <%= "<label>Admin</label>".html_safe if @user.role == 1 %>
            <% if @user.role == 0 %>
                <i class="fa fa-user awesome-icon"></i>
            <% else %>
                <i class="fa fa-user awesome-icon"></i>
            <% end %>
        </div>
        <div class="button-group">
            <%= link_to 'Back', { controller: 'users', action: 'index' },{ :class=>'sub-btn' } %>
            <%= link_to 'Edit', users_editProfile_path(:id=>@user.id),{:class=>'sub-btn'} %>
        </div>
    </div>
</div>
