    <div class="form">
        <div class="form-content">
        <p class="warning-message" id="flash"><%= flash.notice %></p>
            <%= form_tag(:action=> 'attempt_login') do %>
                <div class="main-title">
                    <h2>Login</h2>
                </div>
                <div class="content">
                    <label for="email">Email<span class="required-sign">*</span></label>
                    <%= text_field_tag :email%>
                </div>
                <div class="content">
                    <label for="password">Password<span class="required-sign">*</span></label>
                    <%= password_field_tag :password%>
                </div>
                <div class="button-group">
                    <%= submit_tag('Login', :class=>"sub-btn") %>
                    <%= link_to 'Forgot Password', password_reset_path , { :class=>"forgot-btn" }%> 
                </div>
            <% end %>
    </div>
</div>
